# output dir
output
instant_test_output
inference_test_output


*.png
*.txt
*.json
*.diff
*.jpg
!/projects/DensePose/doc/images/*.jpg

# compilation and distribution
__pycache__
_ext
*.pyc
*.pyd
*.so
*.dll
*.egg-info/
build/
dist/
wheels/
.env
.venv
.eggs
lib/
lib64/
*.egg
*.egg-info
*.so
*.pyc
*.pyd
*.pyo
*.pyz
*.pyw
*.pyi

# pytorch/python/numpy formats
*.pth
*.pkl
*.npy
*.ts
model_ts*.txt

# ipython/jupyter notebooks
*.ipynb
**/.ipynb_checkpoints/

# Editor temporaries
*.swn
*.swo
*.swp
*~

# editor settings
.idea
.vscode
_darcs

# project dirs
/detectron2/*
/datasets/*
!/datasets/*.*
/projects/*/datasets
/models
/snippet
/app/key.py
