/* Add styles for uploader */
.uploader {
    border: 2px dashed #91b0b3;
    border-radius: 5px;
    background: #ebebeb;
    margin: 10px auto;
    padding: 20px;
}

.drag-text h3 {
    text-align: center;
}

.file-upload-btn {
    background: #548386;
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 0 auto;
    display: block;
    margin-top: 20px;
}

/* Add additional styles for alignments, interactions and responsive design */
